header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: black;
  color: white;
  font-weight: 300;
  text-decoration: underline;
}

.week-1 {
  display: flex;
  align-items:center;
  flex-direction: column;
  background: #d7cecd;
}

.title {
  border: 2px solid black;
  font-weight: 900;
  margin: 30px 0 50px 0;
}

h2 {
  font-family: 'Unna', serif;
  font-size: 30px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.fire {
  color: #ff6300;
  text-shadow: 2px 2px black;
  font-weight: 900;
  font-size: 40px;
}

.water {
  color: #85ade8;
  text-shadow: 2px 2px black;
}

.week-1-fonts {
  margin: 30px 0;
}

.week-1-font-links-1 {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Unna', serif;
}

.week-1-font-links-2 {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.unna-color {
  color: #ff6300;
  text-shadow: 1px 1px black;
}

.lato-color {
  color: #85ade8;
  text-shadow: 1px 1px black;
}

//week-2

.week-2 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 50vh;
background-color:#877e83;
font-family: 'Open Sans', sans-serif;
// border: 2px solid black;
}

.two-sans {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  transform: skewX(40deg);
  line-height: 60px;
  font-weight: 900;
  color: #fefefe;
  text-shadow: 2px 2px 1px #000,
}

.week-2-font-links-1 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px #000,
}

.week-2-font-links-2 {
  font-family: 'Vollkorn', serif;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px #000,
}

.vollkorn {
  font-family: 'Vollkorn', serif;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px white,
}

.title-two {
  border: 2px solid black;
}

.week-2-fonts {
  text-decoration: none;
}

///week 3

.week-3 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 50vh;
background-color:green;
font-family: 'Arvo', serif;
// border: 2px solid black;
}

// font-family: 'Arvo', serif;

// font-family: 'Noto Sans', sans-serif;
